<div class="container-fluid">
  <h1 id="title" >View Product</h1>
<div class="row">
   <div class="Image" class="col-sm-6">
     <imag id="product">

     </imag>
   </div>
   <div class="datail col-sm-6">
     <article class="produc-info">
       <div class="prod-name-wrap">
         <h1 class="prod-name"></h1>
       </div>
       <div class="prod-price">
       <h2 id="price"></h2>
      </div>
     </article>
     <article class="descrip">
       <div class ="prod-descrip">
         <h4></h4>
       </div>
     </article>
     <article>
     <form id="mainform">
       <div class="qty">
         <a class="down" field="quantity">
           <img src="//cdn.shopify.com/s/files/1/1338/0845/t/16/assets/icon-minus.svg?11946526226943022736"> </imag>
         </a>
         <input min="1" type="text" name="quantity" class="quantity" value="1">
        <a class="up" field="quantity">
          <imag src="//cdn.shopify.com/s/files/1/1338/0845/t/16/assets/icon-plus.svg?11946526226943022736"></imag></a>     
        </div>
        <input type="submit" name="button"  value="Add to Bag">
     </form>
        <input type="button" name="" value="Add to list">
     <article>   
   </div>
  </div>
</div>
