<div class="container-fluid">
  <h1 id="title" >View Product</h1>
<div class="row">
   <div class="Image" class="col-sm-6">
    
   </div>
   <div class="datail col-sm-6">
     <article class="produc-info">
       <div class="prod-name-wrap">
         <h1 class="prod-name"></h1>
       </div>
       <div class="prod-price">
       <h2 id="price"></h2>
      </div>
     </article>
     <article class="descrip">
       <div class ="prod-descrip">
         <h4></h4>
       </div>
     </article>
     <article>
     <form id="mainform">
       <div class="qty">
         <a class="down" field="quantity"></a>
         <input min="1" type="text" name="quantity" class="quantity" value="1">
        <a class="up" field="quantity"></a>     
       </div>
        <input type="submit" name="button"  value="Add to Bag">
        <input type="button" name="" value="Add to list">
     </form>
       
    </article>   
   </div>
</div>
</div>
