<div class="container">
<div class="row"> 
  <div class="card col-lg-2 col-md-3 col-xs-6 col-sm-5">
    <img class="card-img-top img-type" src="https://secure.gravatar.com/avatar/89cc1cf343ebd942f43acd1042fbe93b"
         alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <button class="addtocart" name="addtocart" type="submit" class="btn btn-success center">Add to cart</button>
    </div>
  </div>

  <div class="card col-lg-2 col-md-3 col-xs-6 col-sm-5">
    <img class="card-img-top img-type" src="https://secure.gravatar.com/avatar/89cc1cf343ebd942f43acd1042fbe93b"
         alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <button class="addtocart" name="addtocart" type="submit" class="btn btn-success center">Add to cart</button>
    </div>
  </div>
 
  <div class="card col-lg-2 col-md-3 col-xs-6 col-sm-5">
      <img class="card-img-top img-type" src="https://secure.gravatar.com/avatar/89cc1cf343ebd942f43acd1042fbe93b"
           alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <button class="addtocart" name="addtocart" type="submit" class="btn btn-success center">Add to cart</button>
      </div>
    </div>
   
  <div class="card col-lg-2 col-md-3 col-xs-6 col-sm-5">
    <img class="card-img-top img-type" src="https://secure.gravatar.com/avatar/89cc1cf343ebd942f43acd1042fbe93b"
         alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <button class="addtocart" name="addtocart" type="submit" class="btn btn-success center">Add to cart</button>
    </div>
  </div>

  <div class="card col-lg-2 col-md-3 col-xs-6 col-sm-5">
      <img class="card-img-top img-type" src="https://secure.gravatar.com/avatar/89cc1cf343ebd942f43acd1042fbe93b"
           alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <button class="addtocart" name="addtocart" type="submit" class="btn btn-success center">Add to cart</button>
      </div>
    </div>
</div>
</div>

