<div class="container">
<div class="row"> 

  <div *ngFor="let product of products" class="card col-lg-2 col-md-3 col-xs-6 col-sm-5">
    <img class="card-img-top img-type" src="{{product.itemList.color[0].url}}"
         alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{product.name}}</h4>
      <p class="card-text">{{product.description}}</p>
      <a [routerLink]="['', product.type, product._id]">                    
        <button class="addtocart" name="addtocart" type="submit" class="btn btn-success center">View details</button>
      </a>            
    </div>
  </div>

</div>
</div>

