
    .img-type{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border: grey solid 1px;
    margin-bottom: 10px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
    .card:hover {
    background-color: #ffffff;
    -moz-box-shadow: 0 0 13px 3px #b0b2ab;
    -webkit-box-shadow: 0 0 13px 3px #b0b2ab;
    box-shadow: 0 0 13px 3px #b0b2ab;
    }
    .card {
    width:90%;
    padding: 20px;
    color: black;
    margin-left: 20px;
    margin-top:20px;
    background-color: #ffffff;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    }



