<!--Footer-->
<footer class="page-footer indigo center-on-small-only pt-0 my-5">

      <!--Footer Links-->
      <div class="container">

          <!--Grid row-->
          <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

              <!--Grid column-->
              <div class="col-md-2 mb-3">
                  <h6 class="title font-bold"><a>About</a></h6>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-2 mb-3">
                  <h6 class="title font-bold"><a>FAQ</a></h6>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-2 mb-3">
                  <h6 class="title font-bold"><a>Terms</a></h6>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-2 mb-3">
                  <h6 class="title font-bold"><a>Privacy Policy</a></h6>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-2 mb-3">
                  <h6 class="title font-bold"><a>Contact Us</a></h6>
              </div>
              <!--Grid column-->

          </div>
          <!--Grid row-->
          <div>

              <!--Grid column-->
              <div>
                      <!--Facebook-->
                      <a><i src="../../assets/005-facebook-logo.png"> </i></a>
                      <!--Twitter-->
                      <a><i src="../../assets/004-twitter-logo-silhouette.png"> </i></a>
                      <!--Google +-->
                      <a><i src="../../assets/001-google-plus-logo.png" > </i></a>
                      <!--Instagram-->
                      <a><i src="../../assets/002-instagram-social-network-logo-of-photo-camera.png" > </i></a>
                      <!--Youtube-->
                      <a><i src="../../assets/003-youtube-logo.png" > </i></a>
              </div>
              <!--Grid column-->
          </div>
          <!--Grid row-->

      </div>
      <!--/Footer Links-->

      <!--Copyright-->
      <div class="footer-copyright">
          <div class="container-fluid">
              © 2017 Copyright: <a href=""> Gifted.com </a>
          </div>
      </div>
      <!--/Copyright-->

  </footer>
  <!--/Footer-->
