<div class = "order">
    <div class = "center">
        <button type="button" class="btn btn-secondary">Continue Shopping</button>    
    </div>
<p>Hello, <b>Ivy</b> </p>
<p>From your account dashboard you can view your recent orders.</p>
<h2>Order History</h2>
<div class="method">
    <div class="row margin-0 list-header hidden-sm hidden-xs">
        <div class="col-md-3"><div class="header">#</div></div>
        <div class="col-md-2"><div class="header">Order ID</div></div>
        <div class="col-md-2"><div class="header">Order Date</div></div>
        <div class="col-md-3"><div class="header">Recipients</div></div>
        <div class="col-md-2"><div class="header">view</div></div>
        
    </div>

    <div class="row margin-0">
        <div class="col-md-3">
            <div class="cell">
                <div class="propertyname">
                <div class="#">
                    1  
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">               
                    Order ID
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">
                    09/05/2017
            </div>
        </div>
        <div class="col-md-3">
            <div class="description">
            <div class="cell">               
                    Recipients
            </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cell">               
                    <button type="submit" class="btn btn-success">view</button>
            </div>
        </div>
    </div>
    
    
    
    
</div>

</div>