<div class = "order">
    <div class = "center">
        <button type="button" class="btn btn-secondary">Continue Shopping</button>    
    </div>
<p>Hello, <b>Ivy</b> </p>
<p>From your account dashboard you can view your recent orders.</p>
<h2>Order History</h2>
<table class="table tb-style">
  <thead>
    <tr>
      <th scope="col">Order Number</th>
      <th scope="col">Order date</th>
      <th scope="col">Total price</th>
      <th scope="col">Shipping to whom</th>
      <th scope="col">View order</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">123</th>
      <td>date</td>
      <td>Total price</td>
      <td>Lucy</td>
      <td><button id="viewOrder" name="viewOrder" class="btn btn-primary ">View</button></td>
    </tr>
  </tbody>
</table>

</div>