<div class="order">
  <p>Hello,
    <b>Ivy</b>
  </p>
  <p>From your account dashboard you can view your recent orders.</p>

  <h4>Order History</h4>
    <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed">
        <thead>
          <tr>
            <td>
              <strong>Order Number</strong>
            </td>
            <td class="text-center">
              <strong>Order Date</strong>
            </td>
            <td class="text-center">
              <strong>Total price</strong>
            </td>
            <td class="text-center">
              <strong>View</strong>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>123455</td>
            <td class="text-center">09/09/2017</td>
            <td class="text-center">$10.99</td>
            <td class="text-center">
              <a [routerLink]="['../orderID']">
                <button type="submit" class="btn btn-success">view</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
