.tb-style{
    margin:20px;

}
.order{
    margin:20px;
    p{
        padding-left: 23px;
        padding-bottom: 5px;
    }
    h2{
        text-align: center;
    }
}
.center{
    text-align: left;
    margin-left:10px;
    margin-bottom: 20px;
}