<div class="order">
  <div class="center">
    <button type="button" class="btn btn-secondary">Continue Shopping</button>
  </div>
  <p>Hello,
    <b>Ivy</b>
  </p>
  <p>From your account dashboard you can <a [routerLink]="['../orders']">view your recent orders.</a></p>
    
    
    <div class="row">
    <div class="col-md-5 center">
      <h3>Ivy</h3>
      ivyyy999@outlook.com
    </div>
    <!-- <div class="col-md-5">
      <h3>You haven't placed any order yet.</h3>
    </div> -->
  </div>
  </div>
  

