<div class="container">
  <div class="row">
    <div class="panel-title col-md-12 text-center">
      <h4 class="text-uppercase text-danger font-weight-bold text-center mt-5">Shipping Address</h4>
      <p class="font-italic ml-3 ">Help us keep your account safe and secure, please verify your billing information.</p>
    </div>
    <form class="panel-body col-md-10 m-auto " [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="left col-md-5 ml-md-5">
          <strong>First Name:</strong>
          <input type="text" name="first_name" class="form-control mb-3 mt-3" placeholder="Matt" formControlName="firstName"/>
          <strong>Last Name:</strong>
          <input type="text" name="last_name" class="form-control mb-3 mt-3" placeholder="Bomer" formControlName="lastName"/>
          <strong>Address Line1:</strong>
          <input type="text" name="address" class="form-control mb-3 mt-3" placeholder="46Westland Ave" formControlName="address1" />
          <strong>Address Line2:</strong>
          <input type="text" class="form-control mb-3 mt-3" name="apt" placeholder="#6" formControlName="address2"/>
        </div>
        <div class="panel-right col-md-5 ml-md-5">
          <strong>City:</strong>
          <input type="text" name="city" class="form-control mb-3 mt-3" placeholder="Boston" formControlName="city"/>
          <strong>State:</strong>
          <input type="text" name="state" class="form-control mb-3 mt-3" placeholder="Ma" formControlName="state" />
          <strong>Zip / Postal Code:</strong>
          <input type="text" name="zip_code" class="form-control mb-3 mt-3" placeholder="02115" formControlName="zip" />
          <strong>Phone:</strong>
          <input type="text" name="phone" class="form-control mb-3 mt-3" placeholder="617-345-9654" formControlName="phone" />
        </div>
        <a [routerLink]="['../payment']" class="mx-auto my-3">
        <button type="submit" class="btn btn-primary btn-submit-fix btn-lg btn-success" >Continue to pay</button>
        <!-- [disabled]="!myForm.valid" -->
        </a>
      </div>
    </form>
  </div>
</div>
