<header class="sticky-top">
  <div class="container-fluid">
    <div class="row">
      <nav class="nav flex-column flex-sm-row align-items-center col-md-5">
        <a href="" class="nav-link text-dark text-uppercase">SHOP</a>
        <a href="" class="nav-link text-dark text-uppercase">BEST SELLERS</a>
        <a href="" class="nav-link text-dark text-uppercase">NEW ARRIVALS</a>
        <a href="" class="nav-link text-dark text-uppercase hidden-md-down">ABOUT US</a>
      </nav>
      <div class="brand-image col-md-2">
        <a href=""><img class="navbar-brand" src="../../assets/images/brand-logo.jpg" alt="Shop4All"></a>
      </div>
      <nav class="nav align-items-center col-md-5 justify-content-end navbar-right">
        <a href="" class="nav-link text-uppercase text-secondary"><span>MY ACCOUNT</span><img src="../../assets/images/icon-account.svg"></a>
        <a href="" class="nav-link text-uppercase text-secondary"><span>SEARCH</span><img src="../../assets/images/icon-search.svg"></a>
        <a href="" class="nav-link text-uppercase text-secondary"><span>BAG(<span class="cart-count">0</span>)</span><img src="../../assets/images/icon-bag.svg" alt=""></a>
      </nav>
    </div>
  </div>
</header>
