<div class="container">
  <!--<div class="col-md-2">-->
    <!--<a href="#" class="btn btn-info btn-block btn-back">BACK<i class="fa fa-angle-right"></i></a>-->
  <!--</div>-->
  <div class="order">
    <div class="account-info">
      <div class="row">
        <div class="col-sm-4 mt-sm-5 d-flex flex-column">
          <h6 class="account-order text-uppercase">Order ID</h6>
          <p>#9087098</p>
        </div>
        <div class="col-sm-4 mt-sm-5 d-flex flex-column align-items-sm-center">
          <h6 class="order-date text-uppercase">Order Placed</h6>
          <p>October</p>
        </div>
        <div class="col-sm-4 mt-sm-5 d-flex flex-column align-items-sm-end">
          <h6 class="account-address text-uppercase text-sm-right">Shipping Address</h6>
          <div>
            <p class="First-line mb-1  text-sm-right">46 Westland Ave</p>
            <p class="Second-line mb-1  text-sm-right">#6</p>
            <p class="city-sate mb-1  text-sm-right">MA Boston</p>
            <p class="postal-code text-sm-right">02115</p>
          </div>
        </div>
      </div>
    </div>
    <table id="cart" class="table table-hover table-condensed">
      <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-2 hidden-xs pro-image"><img src="http://placehold.it/100x100" alt="..."
                                                           class="img-responsive"/></div>
            <div class="col-sm-10">
              <h4 class="pro-name">Product 1</h4>
            </div>
          </div>
        </td>
        <td data-th="Price">$1.99</td>
        <td data-th="Quantity">
          2
        </td>
        <td data-th="Subtotal" class="text-center">1.99</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>

        <td colspan="3" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>

      </tr>
      </tfoot>
    </table>
  </div>
</div>
